<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team_05.kiddo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TeacherInitialLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ClassesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TabActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MessageActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".CreateEventActivity" />
        <activity
            android:name=".GroupMessageActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".EnrolmentRequestActivity" />
        <activity android:name=".ParentInfo" />
        <activity android:name=".TermsAndConditionsActivity" />
        <activity android:name=".RegistrationConfirmationActivity" />
        <activity android:name=".ChildrenActivity" />
        <activity android:name=".EventDescriptionActivity" />
        <activity android:name=".AddChildActivity" />
        <activity android:name=".CourseEnrolmentActivity" />

        <activity android:name=".AdminAddTeacher" />
        <activity android:name=".AdminTeacherInvite" />
        <activity android:name=".AdminTeacherInviteConfirm"></activity>
        <activity android:name=".ParentTabActivity" />
        <activity android:name=".ParentClassTabActivity"></activity>
    </application>

</manifest>