@CHARSET "ISO-8859-1";

html, body {
	margin: 0;
	padding: 0;
}


#header {
    position: relative;
    /*min-width: 62em;*/
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 1;
	height: 4.8em;
	background: #ffffff;
}

#logocontainer {
	width: 100%;
	height: 4em;
	padding-top: 0;
	padding-bottom: .2em;
	background: #ffffff;
}

#logo {
	position: absolute;
	background-image: url('../Images/logo.png');
	width: 5em;
	background-size: cover;
	margin-top: .2em;
	margin-left: 2em;
	height: 4.4em;
}

#logo img {
	display: none;
}

#info_board {
	position: relative;
	/*background: #456ab4;*/
	background: purple;
	margin-top: 0;
	float: right;
	width: 23em;
	height: 1.68em;
	border-width: 1px;
	border-style: solid;
	border-color: #888888;
	border-bottom-left-radius: .7em;
	box-shadow: -.1em .1em .2em #191922;
}

#info_board ul {
	position: absolute;
	margin: 0 -3em;
	list-style-type: none;
}

#info_board ul li {
	color: #ffffff;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: small;
	position: relative;
	display: inline;
	line-height: 2.08em;
}

#info_board ul li a {
	color: #ffffff;
	position: relative;
	width: 8em;
	font-size: 1.1em;
	margin-top: 0;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	padding-left: .5em;
	white-space: nowrap;
	outline: none;
}

#info_board ul li a:-moz-active-inner {
	border: 0;
}

#info_board ul li:hover a {
	color: #00ffff;
}

/*-------------------------------------------------*Stylling For Menu Items----------------------------------------------------*/
#menu {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	margin-top: .6em;
	position: absolute;
	/*background: #456ab4;*/
	background: purple;	
	height: 1.25em;
	border-bottom: 1px solid #888888;
	border-top: 1px solid #888888;
	overflow: hidden;
}

/*----------------------------------------End Of Stylling For Menu Items-----------------------------------------------------------*/

