@CHARSET "ISO-8859-1";
html {width: 100%; height: 100%; padding: 0; margin: 0;}
body {width: 100%; height: 100%; position: relative; padding: 0; margin: 0;background: #456ab4;}

/* the main div of page under header*/
body> #content{
    width: 100%;
	height: 45em;
	background: #dedede;
    border-top: 1px solid #888888;
	/*padding-bottom:24em;*/
}

#logindiv{
    width: 30em;
    min-height: 18em;
    background: #ffffff;
    margin: 9em auto;
    border-radius: 15px;
    border: 1px solid #a6a6a6;
    box-shadow: 0px 5px 12px #888888;
}


#error_div{
    width: 30em;
    min-height: 4em;
    background: #ffffff;
    margin: 3em auto;
    border-radius: 15px;
    border: 1px solid #a6a6a6;
    box-shadow: 0px 5px 12px #888888;
}


#err_message{
	margin: 1.2em auto;
	max-width:  27em;
	color: red; 
	font: 1em Arial, Helvetica, sans-serif;
		
}

#loginmessage{
	color:#00004d; 
	margin-left: 1.2em; 
	font: 1.4em Arial, Helvetica, sans-serif;
}

#footer{
    min-width: 62em;
}

#submitbutton{
    margin-top: 1em;
    width: 8em;
    height: 2.2em;
    border-radius: 5px;
    border: 2px solid purple;
    font: .9em Arial, Helvetica, sans-serif;
    color: purple;
    /*color: #456ab4;*/
    cursor: pointer;
    float: right;
}

#submitbutton:hover{
    /*background: #456ab4;*/
    background: purple;
    color: white;
      
}

#loginlabel{
    text-decoration: none;
    font: .9em Arial, Helvetica, sans-serif;
    color: #456ab4;
    margin-left: 2em;
    margin-top: 2em;
}

#loginlabel:hover{
    text-decoration: underline;
}

#signuplink:hover{
    text-decoration: underline;
}    
.Inputs{
        width: 20em;
        height: 2.2em;
        border-radius: 5px;
        border: 2px solid #dedede;
        font: .8em Arial, Helvetica, sans-serif;
         
}

.Inputs:focus{
       /*border: 2px solid #80b3ff;
       box-shadow: 0px 0px 8px #b3d1ff;*/
       border: 2px solid purple;
       box-shadow: 0px 0px 8px purple;
       outline: none;
}

#topline{
	 width: 90%; 
	 margin: -.9em 1.4em; 
	 border-bottom: 1px solid #dedede;"
}
	 
#bottomline{
	width: 90%; 
	margin: -1.6em 1.4em; 
	border-bottom: 1px solid #dedede;"
}


#footer {
    position: relative;
    min-width: 84em;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 1;
	height: 4.8em;
	background: #456ab4;
	border-top: 20px solid purple;
	bottom: 0;
	padding: 0;
}


#footmessage{
    position: relative;
    margin: 3em auto;
    color: white;
    width: 20%;
    font: .85em Arial, Helvetica, sans-serif;
}



