@CHARSET "ISO-8859-1";

/* the main div of page under header*/
html {width: 100%; height: 100%; padding: 0; margin: 0;}
body {width: 100%; height: 100%; position: relative; padding: 0; margin: 0;background: #456ab4;}

body> #content{
    width: 100%;
    background: #dedede;
	border-top: 1px solid #888888;
	height: 35em;
	min-width: 84em;
	padding-bottom: 6em;
	padding-top: 6em;
	
}

#signupformpanel{
	background: #ffffff;
    border: 1px solid #a6a6a6;
    box-shadow: 0px 5px 12px #888888;
}

#formpanel{
   background: #ffffff;
}


#signuptitle{
	position: relative;
	color:#00004d;
}

#signuptopline{
    width: 90%; 
    border-bottom: 1px solid #dedede;
}

#formpanel button{
	width: 100%;
    border: 3px solid purple;
	color:#00004d;
	background : white;
	box-shadow: 0 .1em .1em #888888;
	outline: none;
	type:button; 
}

#formpanel button:hover{
	color:white;	
	background : purple;
	cursor: pointer;
}	



#signuplabel{
    text-decoration: none; 
    color:#660066; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    outline: none;
}

#signuplabel:hover{
    text-decoration:underline;
  	
}	

#signupformpanel{
	width: 30em;
	height: 29em;
	margin: 2em auto; /*6em*/
	border-radius: 15px;
}

#signuptitle{
	margin-left: 1.2em;
	width: 10em;
	font: 1.2em Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#signuptopline{
    margin: -.8em 1.4em;
}

#formpanel{
   height: 10em;
   margin: 2.5em auto;
   width: 70%;
}
  	
#formpanel button{
	height: 3.2em;
	margin: .6em auto;
	border-radius: 5px;
	font: 1.2em Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#formpanel a{
   text-decoration:none;
}

#formpanel a div{
	width: 100%;
    border: 3px solid purple;
	color:#00004d;
	background : white;
	box-shadow: 0 .1em .1em #888888;
	outline: none;
	height: 3.2em;
	text-align: center;
	margin: .1em auto;
	border-radius: 5px;
	font: 1.2em Arial, Helvetica, sans-serif;
	font-weight: bold;
}


#formpanel a div:hover{
	color:white;	
	background : purple;
	cursor: pointer;
}	


#signupbottomline{
  margin: 17em 1.4em;
  width: 90%; 
    border-bottom: 1px solid #dedede;
   
}

#loginmessage{
    margin-left: 2.5em; 
	margin-top: 1.8em; 
	font: .8em Arial, Helvetica, sans-serif;
}

#signuplabel{
    /*margin-left: 4.2em;*/
    margin-right: 1.8em;
    float: right; 
    margin-top: -1.8em;
    font-size: .95em ; 
}


#footer {
    position: relative;
    min-width: 84em;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 1;
	height: 4.8em;
	background: #456ab4;
	border-top: 20px solid purple;
	bottom: 0;
	padding: 0;
}


#footer p{
    position: relative;
    margin: 3em auto;
    color: white;
    width: 20%;
    font: .85em Arial, Helvetica, sans-serif;
}
