@CHARSET "ISO-8859-1";

html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #456ab4;
}

body {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 0;
	margin: 0;
	background: #dedede;
}

/* the main div of page under header*/
body>#content {
	width: 100%;
	min-height: 35em;
	height: auto;
	background: #dedede;
	border-top: 1px solid #888888;
	padding-bottom: 4em;
}

#signupmessage {
	color: #00004d;
	font-weight: bold;
}

#topline {
	border-bottom: 1px solid #dedede;
}

#signupform .textinput {
	
	border-radius: 5px;
	color: #595959;
	border: 2px solid #dedede;
}


#signupform input[type="text"]:focus {
	border: 2px solid #80b3ff;
	box-shadow: 0px 0px 8px #b3d1ff;
	outline: none;
}

#signupform input[type="password"]:focus {
	border: 2px solid #80b3ff;
	box-shadow: 0px 0px 8px #b3d1ff;
	outline: none;
}

select::-ms-expand {
	display: none;
}

#signupform .loc {
	outline: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	cursor: pointer;
	overflow: hidden;
	background-image: url(Images/arrow1.png);
	background-repeat: no-repeat;
	background-position: right;
	border-radius: 5px;
	color: #595959;
	border: 2px solid #dedede;
}

#form_submit:hover {
	background: #00004d;
	color: white;
}

#form_submit:active {
	background: #000099;
}

body>#content {
	min-width: 62em;
	padding-top: 6em;
}
	
#infoDiv {
	background: #ffffff;
	min-height: 10em;
	height: auto; /*----------*/
	margin: 2em auto;
	border-radius: 15px;
	border: 1px solid #a6a6a6;
	box-shadow: 0px 5px 12px #888888;
	width: 30em;
}

#signupmessage {
	margin-left: 1.2em;
	font: 1.2em Arial, Helvetica, sans-serif;
}

#topline {
	width: 90%;
	margin: -.9em 1.4em;
}

#signupform {
	margin-top: 1em;
	margin-left: 4em;
}


#signupform .textinput {
	width: 21em;
	height: 2em;
	margin-top: 2em;
	padding-left: .2em;
	font: 1em Arial, Helvetica, sans-serif;
}

#error_div{
    width: 30em;
    min-height: 4em;
    background: #ffffff;
    margin: 3em auto;
    border-radius: 15px;
    border: 1px solid #a6a6a6;
    box-shadow: 0px 5px 12px #888888;
}


#err_message{
	margin: 1.2em auto;
	max-width:  27em;
	color: red; 
	font: 1em Arial, Helvetica, sans-serif;
		
}


#form_submit {
	margin-top: 4em;
	width: 17.8em;
	height: 2em;
	font: 1.2em Arial, Helvetica, sans-serif;
	transition: background .3s, color .3s;
	color: #00004d;
	background: #ffffff;
	border: 2px solid #00004d;
	font-weight: bold;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	margin-bottom: 2em;
}

#form_submit:hover {
	background: #00004d;
	color: white;
}


#footer {
    position: relative;
    min-width: 84em;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 1;
	height: 4.8em;
	background: #456ab4;
	border-top: 20px solid purple;
	bottom: 0;
	padding: 0;
}

.errors{
	
	font: 1em Arial, Helvetica, sans-serif;
	color: red;
	max-width: 21em;
	position: relative;
    margin-top: 1em ;
    display: none;
    
  }

#footer p{
    position: relative;
    margin: 3em auto;
    color: white;
    width: 20%;
    font: .85em Arial, Helvetica, sans-serif;
}


#nav_tab{
	margin : 1.8em auto;
	width: 30em;
	padding: 0;
}

#nav_tab tr td {
    text-align: center;  
}	

#nav_tab tr td a{
	font: .85em Arial, Helvetica, sans-serif;
	color: #00004d;
	font-weight: bold;
	text-decoration: none;
}

#bottomline{
	width: 90%; 
	margin: 1.2em 1.4em; 
	border-bottom: 1px solid #dedede;"
}


#infoDiv a{
	text-decoration: none;
	
}

#infoDiv h5{
	width: 20%;
    margin: 2em auto;
}
	
.teacher_div{
	width: 80%;
	margin: 2em auto;
	font: .85em Arial, Helvetica, sans-serif;
	color: #00004d;
	font-weight: bold;
    background:yellow;
}


